*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: #444;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34a8f0;
}
.container{
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  width: 450px;
}
.container p{
  margin: 20px 0;
}
form div{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
span input{
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  background-color: #eee;
  border: none;
  outline: none;
}
textarea{
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  background-color: #eee;
  border: none;
  outline: none;
}
button{
  background-color: #e53653;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-top: 20px;
}
button:hover{
  background-color: #a20d26;
  cursor: pointer;
}